*,
::before,
::after{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

.react-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.react-modal-wrapperH{
    max-width: 400px;
    margin: 15rem auto;
}

.react-modal-content{
    position: relative;
    background-color: #E9E9E9;
    border: 1px solid rgba(0,0,0,0.3)  ;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.react-modal-header,
.react-modal-body,
.react-modal-footer{
    padding: 1rem;
}

.react-modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
}

.react-modal-title{
    line-height: 1.5;
    font-size: 1.25rem;
}

.btn-closed{
    border: none;
    font-size: 1rem;
    padding: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    background: transparent;
}

.react-modal-body #body-huespedes #huesped-lista{
    padding-left: 25%;
    padding-top: 5%;
    
}

.react-modal-body #body-huespedes #huesped-lista a{
    font-family: 'JejuMyeongjo';
    font-size: large;
}
#Lugar{
    color: rgba(11, 4, 44, 0.85);
    background: none;
    font-family: 'JejuMyeongjo';
    font-size: 20px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0;
}

