*,
::before,
::after{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
#elemento-registro{
    background-color: #ffffff;
}


.react-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.react-modal-wrapper{
    max-width: 500px;
    margin: 2rem auto;
}

.react-modalRegistro-content{
    position: relative;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.3)  ;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

#texto{
    font-size: 12px;
    max-width: auto;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
    word-wrap: break-word; /* Fuerza el texto a envolverse en varias líneas si es necesario */
  white-space: normal;
   
   
}
.react-modal-header,
.react-modal-body,
.react-modal-footer{
    padding: 1rem;
}

.react-modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a32020;
}

.react-modalRegistro-title{
    line-height: 1.5;
    font-size: 1.25rem;
    border-radius: 16px;
    background-color: #ffffff;
}
.btn-closed{
    border: none;
    font-size: 1rem;
    padding: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    background: transparent;
}

#Lugar{
    color: rgba(11, 4, 44, 0.85);
    background: none;
    font-family: 'JejuMyeongjo';
    font-size: 20px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0;
    white-space: nowrap; /* Evita que el texto se ajuste automáticamente a nuevas líneas */
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
  text-overflow: ellipsis; 
}