#listaCat{
    top:10%;
    left: 2%;
    background: #fff;
    margin: 0;
    margin-left: 3%;
    border-radius: 10px;
    display: flex;
  }
 #listaCat #cat{
    list-style: none;
    text-align: center;
    display: block;
  
    
 }

 .headerdetail
 {
  background-color: aqua;
 }
 #listaCat #cat a{
    text-decoration: none;
    padding: 0 25px;
    display: block;
  }
  .active {
    background-color: rgb(255, 0, 144);
    color: white; /* Cambia este valor al color que desees */
    border-radius: 10px;
    
  }
  .actives {
    background-color: rgb(255, 0, 144);
    color: white; /* Cambia este valor al color que desees */
    border-radius: 10px;
    
  }