h6 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px; 
    border-radius: 10px;
  
    color: rgba(218, 20, 103, 0.85);
    font-size: 1.2em; 
  }
  .favorites-table {
    border: 1px solid #fff; 
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    max-width: 500px;
  }
  
  .favorites-table th,
   .favorites-table td {
   border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .favorites-table th {
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
   
  }
  
  .favorites-table img {
    display: block;
   
  }
  

  
  .favorites-table tr:hover {
    background-color: rgb(200, 158, 184); 
    cursor: pointer; 
  }
  

  

  

  

  