.price-filter-popup { 
  background-color: #ffffff;
  padding: 0;  /* 20px */
  border: 1px solid #ccc;
  border-radius: 0.5rem;  /* 5px */
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);  /* 10px */
  text-align: center;
  font-family: 'JejuMyeongjo';
  position: relative;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;  /* 10px 0 */
  position: sticky;
  top: 0;
  background: #FFFFFF;
  z-index: 1000;
  text-align: center;
  border-bottom: 2px solid #b0b0b0;
  
}

.filter-title {
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-1%);
  top: -0.625rem;  /* 10px */
  padding: 0rem;  /* 5px */
  display: inline-block;
  font-size: 24px;
  
}
.title-container {
  text-align: center;
  width: calc(100% - 1px); /* Ajusta este valor si tu botón de cierre es más grande o más pequeño */
  margin: 0;
  padding: 0;
  display: block;
}

.close-button {
 background-color: transparent;
  border: none;
  font-size: 1.25rem;  /* 20px */
  color: #DA1467;
  cursor: pointer;
  position: absolute;
  top: 0.2rem;  /* -10px */
  right: 0;
  padding: 0;
  z-index: 1000000;
}

.close-button:hover {
  background-color: transparent; /* Fondo transparente */
  color: #000000; /* Nuevo color para el icono */
}

.price-filter-popup h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;  /* 10px */
  color: #DA1467;
  font-family: 'JejuMyeongjo';
  text-align: center;
  width: 100%;
}

.price-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;  /* 20px */
}

.price-inputs label {
  width: 30%;
  text-align: right;
  padding-right: 0.625rem;  /* 10px */
}

.price-inputs input {
  width: 65%;
  padding: 0.3125rem;  /* 5px */
  border: 1px solid #ccc;
  border-radius: 0.1875rem;  /* 3px */
  font-family: 'JejuMyeongjo';
}

.accept-button-container {
  position: sticky;
  bottom: 0;
  width: 100%; /* Esto debería ocupar todo el ancho del elemento padre */
  padding-top: 0rem;
  padding-bottom: 0.5rem;
  background: white;
  box-sizing: border-box;
}

.submit-button {
  border-radius: 1rem;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.625rem 1.25rem;  /* 10px 20px */
  cursor: pointer;
  
  
}

.submit-button:hover {
  background-color: #0e0e0ecc;
}

.filtro-button {
  background-color: #DA1467;
  color: white;
  font-family: 'JejuMyeongjo';
  height: 2.5rem; /* Ajusta este valor según necesites */
  padding: 0.5rem 1rem; /* Ajusta el padding vertical para centrar el texto si es necesario */
  border-radius: 1rem;  /* Ajustado el borde redondeado */
}

.filtro-button:hover {
  box-shadow: 0 0 20px rgba(51, 50, 50, 0.5); /* Agrega una sombra al botón en el estado "hover" */

}

.filtro-button i { 
  font-size: 1.125rem;  /* 18px */
  margin-right: 0.3125rem;  /* 5px */
}


.price-filter-container {
  padding: 20px;
  z-index: 1001;
}

.filter-section h2 {
  font-size: 24px;
  margin-bottom: 2.5rem;
}

.selector-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

.selector-button {
  background-color: #e6e6e6;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #333;
  font-size: 16px;
  margin-right: 10px;  /* Añade espacio a la derecha de cada botón */
    margin-bottom: 10px; /* Añade espacio debajo de cada botón */
}

.selector-button:hover {
  background-color: #d1d1d1;
}

.selector-button.selected {
  background-color: #000;
  color: #fff;
}
label {
  display: block;  /* Hace que el label se muestre como un bloque para ocupar toda la línea */
  margin-bottom: 1.5rem;  /* Agrega espacio debajo */
}


/* Agregando estilos específicos para la sección 'Tipo de propiedad' */


.selector-button {
  flex-basis: calc(25% - 10px); /* Asegura que cuatro botones se ajusten en una fila con un espacio de 10px entre ellos */
  border: 2px solid #e4e4e4;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.2s, background-color 0.2s;
  font-family: 'JejuMyeongjo';
}

.selector-button.property-selected {
  border-color: #ff5a5f;
  background-color: #f7f7f7;
}

.selector-button:hover {
  border-color: #ff5a5f;
}



.service-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: start;
  justify-items: start; /* Alinea los elementos de la cuadrícula individualmente a la izquierda */
  text-align: left; /* Alinea el texto dentro de los elementos a la izquierda */
}

.service-inputs > label {
  justify-self: start; /* Alinea individualmente cada etiqueta a la izquierda dentro de su celda de cuadrícula */
}

.tipo-inmueble-inputs { /* Esta línea aplica los mismos estilos a ambos contenedores */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: start;
  justify-items: start; /* Alinea los elementos de la cuadrícula individualmente a la izquierda */
  text-align: left; /* Alinea el texto dentro de los elementos a la izquierda */
}
.tipo-inmueble-inputs > label { 
  justify-self: start; 
}
/* Añade margen a la izquierda del primer botón */
.selector-button:first-child {
  margin-left: 25px;
}

/* Añade margen a la derecha del último botón */
.selector-button:last-child {
  margin-right: 25px; 
}

.star {
  cursor: pointer; /* Esto muestra un cursor tipo "mano" que indica que el elemento es clickeable */
  font-size: 25px; /* Ajusta esto según sea necesario */
  color: #ccc; /* Color por defecto de las estrellas */
  transition: color 0.2s; /* Esto es opcional, para una transición suave al cambiar el color */
}

.star.selected {
  color: #DA1467; /* Color de las estrellas cuando están seleccionadas */
}

/* Estos estilos son opcionales para mejorar la interactividad visual */
.star:hover {
  color: #DA1467; /* Color al pasar el mouse sobre las estrellas */
}

.calificacion-title {
  color: #DA1467;/* Usa el mismo color que para los otros títulos */
  margin-bottom: 0.5rem; /* Añade un espacio entre el título y las estrellas */
}
