.price-filter-popup { 
  background-color: #ffffff;
  padding: 2rem;  /* 20px */
  border: 1px solid #ccc;
  border-radius: 1rem;  /* 5px */
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);  /* 10px */
  text-align: center;
  font-family: 'JejuMyeongjo';
  position: relative;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.625rem 0;  /* 10px 0 */
}

.filter-title {
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.625rem;  /* 10px */
  padding: 0 0.3125rem;  /* 5px */
}

.line {
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin-top: 0.625rem;  /* 10px */
  margin-bottom: 0.625rem;  /* 10px */
}

.close-button {
 background-color: transparent;
  border: none;
  font-size: 1.25rem;  /* 20px */
  color: #DA1467;
  cursor: pointer;
  position: absolute;
  top: -0.625rem;  /* -10px */
  right: 0;
  padding: 0;
}

.close-button:hover {
  background-color: transparent; /* Fondo transparente */
  color: #000000; /* Nuevo color para el icono */
}

.price-filter-popup h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;  /* 10px */
  color: #DA1467;
  font-family: 'JejuMyeongjo';
}

.price-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;  /* 20px */
}

.price-inputs label {
  width: 30%;
  text-align: right;
  padding-right: 0.625rem;  /* 10px */
}

.price-inputs input {
  width: 65%;
  padding: 0.3125rem;  /* 5px */
  border: 1px solid #ccc;
  border-radius: 0.1875rem;  /* 3px */
  font-family: 'JejuMyeongjo';
}

.submit-button {
  border-radius: 1rem;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.625rem 1.25rem;  /* 10px 20px */
  cursor: pointer;
  
  
}

.submit-button:hover {
  background-color: #0e0e0ecc;
}

.filtro-button {
  background-color: #DA1467;
  color: white;
  font-family: 'JejuMyeongjo';
  height: 2.5rem; /* Ajusta este valor según necesites */
  padding: 0.5rem 1rem; /* Ajusta el padding vertical para centrar el texto si es necesario */
  border-radius: 1rem;  /* Ajustado el borde redondeado */
}

.filtro-button:hover {
  box-shadow: 0 0 20px rgba(51, 50, 50, 0.5); /* Agrega una sombra al botón en el estado "hover" */

}

.filtro-button i { 
  font-size: 1.125rem;  /* 18px */
  margin-right: 0.3125rem;  /* 5px */
}


.price-filter-container {
  padding: 20px;
}

.filter-section h2 {
  font-size: 24px;
  margin-bottom: 2.5rem;
}

.selector-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

.selector-button {
  background-color: #e6e6e6;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #333;
  font-size: 16px;
  margin-right: 10px;  /* Añade espacio a la derecha de cada botón */
    margin-bottom: 10px; /* Añade espacio debajo de cada botón */
}

.selector-button:hover {
  background-color: #d1d1d1;
}

.selector-button.selected {
  background-color: #000;
  color: #fff;
}
label {
  display: block;  /* Hace que el label se muestre como un bloque para ocupar toda la línea */
  margin-bottom: 1.5rem;  /* Agrega espacio debajo */
}


/* Agregando estilos específicos para la sección 'Tipo de propiedad' */


.selector-button {
  flex-basis: calc(25% - 10px); /* Asegura que cuatro botones se ajusten en una fila con un espacio de 10px entre ellos */
  border: 2px solid #e4e4e4;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.2s, background-color 0.2s;
  font-family: 'JejuMyeongjo';
}

.selector-button.property-selected {
  border-color: #ff5a5f;
  background-color: #f7f7f7;
}

.selector-button:hover {
  border-color: #ff5a5f;
}



.service-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: start;
  justify-items: start; /* Alinea los elementos de la cuadrícula individualmente a la izquierda */
  text-align: left; /* Alinea el texto dentro de los elementos a la izquierda */
}

.service-inputs > label {
  justify-self: start; /* Alinea individualmente cada etiqueta a la izquierda dentro de su celda de cuadrícula */
}

.tipo-inmueble-inputs { /* Esta línea aplica los mismos estilos a ambos contenedores */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: start;
  justify-items: start; /* Alinea los elementos de la cuadrícula individualmente a la izquierda */
  text-align: left; /* Alinea el texto dentro de los elementos a la izquierda */
}
.tipo-inmueble-inputs > label { /* Aplica los mismos estilos a las etiquetas de ambos contenedores */
  justify-self: start; /* Alinea individualmente cada etiqueta a la izquierda dentro de su celda de cuadrícula */
}
