h6 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 90%; 
  margin-left: auto;
  margin-right: auto;
  padding: 10px; 
  border-radius: 10px;

  color: rgba(218, 20, 103, 0.85);
  font-size: 30px; 
}
.reservados-table {
  border-collapse: collapse;
  width: 50%; 
  margin: 0 auto; 
}

.reservados-table th,
.reservados-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.reservados-table th {
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  font-weight: bold;
 
}

.reservados-table img {
  display: block;
 
}
