.star-rating {
    display: flex;
    align-items: center;
  }
  
  .star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating .star {
    color: grey;
    cursor: pointer;
    font-size: 30px;
  }
  
  .star-rating .star.hover {
    color: orange;
  }
  